*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
}

h1 {
  font-weight: normal;
  display: inline;
  font-size: 50px;
  color: #D73202;
}

.header {
  width: 70%;
  margin: 1% 15%;
}

.header p {
  float: right;
  position: relative;
  top: 30px;
}

a, a:visited {
  color: #000;
  text-decoration: none;
  cursor: crosshair;
  font-weight: 600;
}

a:hover {
  color: #D73202;
  text-decoration: underline;
  cursor: crosshair;
}

label {
  font-weight: 600;
  font-size: 16px;
}

input {
  width: 50px;
  padding: 5px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

button {
  background-color: #D73202;
  color: #FFF;
  border-style: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.content {
  width: 60%;
  margin: 0 20%;
  font-size: 14px;
  line-height: 20px;
}

.content span {
  position: absolute;
  top: 205px;
  left: 275px;
  font-size: 18px;
  font-style: italic;
}

.content p {
  width: 80%;
  position: relative;
  top: 50px;
  left: 100px;
}

.content p:last-of-type {
  text-align: center;
  margin-top: 70px;
}

#logo {
  position: relative;
  top: 10px;
}

#product {
  float: left;
}
